.main-container {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

.sair {
  border: 0;
  border-radius: 2px;
  width: 20%;
  height: 20px;
  padding: 0 20px;
  font-size: 15px;
  background: #f05a5b;
  color: #fff;
  cursor: pointer;
  margin-left: 5px;
}

.enviar {
  border: 0;
  border-radius: 2px;
  width: 20%;
  height: 20px;
  padding: 0 20px;
  font-size: 15px;
  background: #01e901;
  color: #fff;
  cursor: pointer;
  margin-left: 5px;
}

.header-user {
  margin-bottom: 20px;
  align-content: center;
  font-size: large;
  text-align: center;
}

.input {
  margin: 10px 0px;
  border-radius: 8px;
  height: 30px;
  align-content: center;
}

li {
  height: 25px;
}

nav ul {
  height: 200px;
  width: 100%;
}
nav ul {
  overflow: hidden;
  overflow-y: scroll;
}
